# Python Bytecode files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
coverage.xml
nosetests.xml
test*.db
*.cover

# Virtual environment directories
virtualenv/
.venv/

# VS Code settings folder
.vscode/

# JetBrains IDEs
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Jupyter Notebooks
.ipynb_checkpoints/

# mypy
.mypy_cache/

# PyCharm
*.iml

# 敏感信息
/data/MiraiSingleAdapter/AliasMap.pkl